{% extends "site_app/global/index.html" %}

{% block content %}
<div class="contact-info" style="margin-left: 50px; margin-right: 50px;">
    <br>
    <h3>Fale conosco pelos nossos meios de comunicação:</h3>
    <br>
    <h5>E-mail:</h5>
    <a href="mailto:contato@contato.com.br" class="d-block">
        <i class="fas fa-envelope mr-2" style="margin-right: 10px;"></i>contato@lanchonetemundodossabores.com
    </a>
    <br>
    <h5>WhatsApp:</h5>
    <a href="http://wa.me/5541984332211?text=Ol%C3%A1%2C%20tenho%20interesse%20em%20saber%20mais%20informa%C3%A7%C3%B5es%20sobre%20investimentos.%20Estou%20ansioso%20para%20aprender." target="_blank" class="d-block">
        <i class="fab fa-whatsapp mr-2" style="margin-right: 10px;"></i>(41) 2680-4187
    </a>
    <br>
    <h5>Telefone:</h5>
    <a href="tel:+554132322323" class="d-block">
        <i class="fas fa-phone mr-2" style="margin-right: 10px;"></i>(41) 3223-2112
    </a>
</div>
{% endblock content %}