<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Início</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/cadastro">Cadastro de Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/produtos">Cardápio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contatos">Contatos</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <!-- Adicionando ms-auto para alinhar à direita -->
          <li class="nav-item">
            <a class="nav-link" href="#">Voltar ao topo</a>
            <!-- Novo link alinhado à direita -->
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="p-5 mt-4 bg-primary text-white rounded-bottom text-center">
    <img src="https://i.pinimg.com/originals/9a/e0/63/9ae06346a2c4bc407dfc299c03c3cdf3.jpg" alt="Imagem"
      style="width: 300px; height: 300px; border-radius: 100%; margin-right: 100px;">
    <h1>Lanchonete Mundo dos Sabores</h1>
    <p>Bem-vindo à Lanchonete Mundo dos Sabores, onde cada mordida é uma viagem gastronômica pelo mundo! Nossa lanchonete oferece uma ampla variedade de deliciosos lanches preparados com ingredientes frescos e de alta qualidade, garantindo uma explosão de sabores em cada pedaço. Venha experimentar uma experiência única de sabores na Lanchonete Mundo dos Sabores - sua jornada gastronômica começa aqui!</p>
  </div>